@mixin multi-lines-ellipsis($numberOfLines, $lineHeight,$maxHeight) {
    -o-text-overflow:ellipsis;
    -ms-text-overflow:ellipsis;
    text-overflow:ellipsis;
    overflow: hidden;
    display : block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $numberOfLines;
    max-height: $maxHeight;
    line-height:$lineHeight;

};

.oneLineEllipsis {
   text-overflow : ellipsis;
    overflow: hidden;
    display : block;
    white-space: nowrap;
    -o-text-overflow:ellipsis;
    -ms-text-overflow:ellipsis;
    text-overflow:ellipsis;

};

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.clearfix:after { 
    content: "."; 
    visibility: hidden; 
    display: block; 
    height: 0; 
    clear: both;
}