$default-svg-folder: "../svg/";

$default-svg-icon-width: 24px !default;
$default-svg-icon-height: 24px !default;

@mixin svg-icon($file-name, $width:$default-svg-icon-width, $height: $default-svg-icon-height) {
	background: url($default-svg-folder + $file-name + ".svg") no-repeat;
	width: $width;
	height: $height;
	background-size: contain;
}

.empty-personalized-icon {
	@include svg-icon("empty_personalized", 355px, 376px);
}

.checkbox-icon {
	@include svg-icon("checkbox", 18px, 18px);
}

.checkbox-selected-icon {
	@include svg-icon("checkbox-selected", 18px, 18px);
}

.close-slider-icon {
	@include svg-icon("close-slider", 11px, 11px);
}

.personalize-icon {
	@include svg-icon("personalize", 23px, 23px);
}

.personalize-hover-icon {
	@include svg-icon("personalize-hover", 23px, 23px);
}

.refresh-widget-icon {
	@include svg-icon("refresh-header", 16px, 14px);
}

.refresh-widget-hover-icon {
	@include svg-icon("refresh-widget-hover", 16px, 14px);
}

.refresh-header-icon {
	@include svg-icon("refresh-header", 23px, 21px);
}

.refresh-header-hover-icon {
	@include svg-icon("refresh-header-hover", 23px, 21px);
}

.search-icon {
	@include svg-icon("search", 30px, 30px);
}

.search-hover-icon {
	@include svg-icon("search-hover", 30px, 30px);
}

.see-all-icon {
	@include svg-icon("see-all", 16px, 16px);
}

.see-all-hover-icon {
	@include svg-icon("see-all-hover", 16px, 16px);
}

.remove-widget-header-icon {
	@include svg-icon("remove-widget-header", 15px, 16px);
}

.remove-widget-header-hover-icon {
	@include svg-icon("remove-widget-header-hover", 15px, 16px);
}
